<header>
  <h1>Conor Lee's Tech Blog</h1>
  <nav>
    {{#if logged_in}}
      <a href="/dashboard">Dashboard</a>
      <button id="logout">Logout</button>
    {{else}}
      <a href="/login">Login</a> or <a href="/signup">Signup</a>
    {{/if}}
  </nav>
</header>
