{{!-- views/homepage.handlebars --}}
{{> header}}
<h1>Welcome to Conor Lee's Tech Blog</h1>

{{#if logged_in}}
  <a href="/dashboard">Go to your dashboard</a>
{{else}}
  <a href="/login">Login</a> or
  <a href="/signup">Sign up</a>
{{/if}}

{{#each posts}}
  <div class="post">
    <h2>{{this.title}}</h2>
    <p>{{this.content}}</p>
    <p>Posted by {{this.user.username}}</p>
  </div>
{{/each}}

{{> footer}}
